
@media (min-width: 1025px) and (max-width: 1200px){
    .big-box,.big-image,.left-side{
        width: 32rem;
    }
    .container{
        column-gap:0;
        margin-left: 2rem;
        width: 59rem;
    }
    .small-box,.small-image,.right-side,.last-box{
        width: 22rem;
    }
    .right-side{
        margin-right:0;
    }
    .bottom{
        margin-top: 2rem;
    }
}

/* @media (min-width:800px) and (max-width:1280px){
    .container{
        margin-left:3rem;
        border: 1px solid red;
        width: 50rem ;
        margin-right:1rem;
    }
    .big-box,.big-image,.small-image,.small-box,.last-box{
        width: 50rem;
    }
    .right-side,.left-side{
        margin-left:1rem;
    }
} */

/* @media (min-width: 820px) and () */

@media (min-width:768px) and (max-width: 1024px){
    .container{
        flex-direction: column;
        width:45rem;
        height: 135rem;
        justify-content:start;
        row-gap: 3rem; 
        margin-left: 4rem;
    }
    .big-box{
        width: 45rem;
        height: 30rem;
        font-size: 12px;
    }
    .right-side{
        margin-right: 0;
    }
    .big-image,.small-image{
        width: 41rem;
    }
    .small-box{
        margin-left: 1rem;
        height: 25rem;
        width: 45rem;
    }
    .last-box{
        margin-left: 1rem;
        width: 41rem;
    }
    .bottom{
        margin-top:2rem;
    }
    .button{
        padding: 7px;
        height: 2rem;
    }
    .header{
        width: 27rem;
    }
    .footer{
        width:50rem;
    }
} 

/* @media (min-width:884px) and (max-width:1104px){
    .container{
        margin-left: 3rem;
        width: 49rem;
        border: 1px solid red;
    }
    .big-box,.big-image,.small-image,.small-box,.last-box{
        width: 47rem;
    }
} */



@media (min-width:481px) and (max-width: 768px) {
    .container{
        flex-direction: column;
        height: 144rem;
        width: 40rem;
    }
    .big-box,.small-box,.big-image,.small-image,.last-box{
        width: 38rem;
    }
    .small-box,.last-box{
        margin-left: 1rem;
    }
    .footer{
        width: 44rem;
        height: 10rem;
    }
    .footer-box1,.footer-box2{
        height: 6px;
        padding:0;
    }
    .header{
        margin-left: 10rem;
    }
}

@media (min-width:320px) and (max-width: 480px){
    .container{
        flex-direction: column;
        height: 144rem;
        width: 40rem;
    }
    .header{
        margin-left: 10rem;
        width: 18rem;
    }
    .container{
        margin-left: 0;
        width: 36rem;
    }
    .big-box,.small-box,.big-image,.small-image,.last-box{
        width: 32rem;
    }
    .small-box,.last-box{
        margin-left: 1rem;
    }
    .footer{
        width: 40rem;
    }
}

@media (min-width:400) and (max-width: 500){
    .container{
        margin-left: 4rem;
        width: 30rem;
    }
    .big-box{
        height:40rem ;
    }
}

@media (max-width: 320px) {
    .big-box,.big-image,.small-image,.small-box,.last-box{
        width: 34rem;
    }
    .bottom{
        margin-top: 1.5rem;
    }
    .button{
        height: 2.2rem;
        padding: 8px;
    }
    .big-box,.small-box{
        height: 34rem;
    }
    .last-box{
        height: 19rem;
    }
    .footer{
        height: 9rem;
        padding: 8px;
    }
    .footer-box1,.footer-box2{
        margin: 0;
        padding: 0;
        height: 8px;
    }

}


